.App {
    font-style: "Open Sans","sans-serif","serif","monospace";
}

#toggleDark {
    position: absolute;
    top: 11px;
    right: 15px;
    cursor: pointer;
}

.Header {
    background-color: #663838;
    color: #2a2a2a;
    text-align: center;
}

.light {
    background-color: #f2f2f2;
    color: #000;
}

.dark {
    background-color: #1e1e1e;
    color: #f2f2f2;
}