.wrapper {
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: auto;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: #252525;
  }
  .footer{
    padding: 20px 0 10px 0;
    font-family: 'Play', sans-serif;
    display: block;
    text-align:center;
  }
  .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:1.2rem;
    display: flex;
    justify-content: center;
  }
  .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    font-size:1.7rem;
    margin:1% 2%;
  }
    
  .footer .row a:hover{
    color:#fff;
  }